<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.carweather"
    android:versionCode="301"
    android:versionName="3.0.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.test.permissions.ACCESS_HOME_KEY"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.test.permissions.ACCESS_HOME_KEY"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.test.carweather.WeatherApplication"
        android:icon="@drawable/app_launcher_selector"
        android:label="@string/app_name" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_weather"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CityActivity"
            android:label="@string/title_activity_weather"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Start" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Start"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".widget.WeatherAppWidgetProvider" >
            <intent-filter>
                <action android:name="test.intent.action.homekey" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.test.intent.action.UPDATE_TIME" />
                <action android:name="com.test.intent.action.UPDATE_WEATHER_FINISHED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_info" />
        </receiver>

        <service android:name=".WeatherService" />
        <service android:name=".CarWeatherService" />

        <provider
            android:name=".provider.CarWeatherProvider"
            android:authorities="com.test.carweather"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <receiver
            android:name=".SystemEventReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="intent.action.PACKAGE_LATER_SCANNED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
